* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

canvas {
  display: block;
  margin: auto;
}
#input-form {
  padding: 15px;
  background-color: #931C22;
}
#input-form input {
  padding: 10px;
  font-size: 20px;
  width: 400px;
}