@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #111 url('../images/bg.jpg') no-repeat fixed center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

canvas {
  display: block;
  border: 0.5rem solid black;
  border-radius: 2rem; 
}

h1 {
  margin-bottom: 2rem;
  color: rgb(212, 212, 212);
  font-family: 'Cinzel Decorative', cursive;
  font-size: 4rem;
}

h2 {
  padding-bottom: 2rem;
}

#high-score {
  position: absolute;
  padding: 4rem;

  background-color: black;
  border: 0.5rem solid #111;
  border-radius: 1rem;
  box-shadow: 0px 0px 2rem black;
}

#input-form {
  padding: 15px;
  background-color: #931C22;
}
#input-form input {
  padding: 10px;
  font-size: 20px;
  width: 400px;
}